@page
@{
    ViewData["Title"] = "Green House";
}

<script type="text/javascript">

   function showTemperature() {
      $("#temperature").html("Getting Temperature");
      var promise = GetLatestTemperature();
      promise.done(function (data) {
         $("#temperature").html(data.temperature + ' ' + '&deg;C');
         var day = moment(data.takenDateTime);
         $('#dateTaken').html(day.format("DD/MM/YYYY HH:mm:ss"));
      });
   }

   function showMaxTemperature() {
      $("#maxTemperature").html("Getting Temperature");
      var promise = GetMaxTemperature(moment().format("YYYY-MM-DD"));
      promise.done(function (data) {
         $("#maxTemperature").html(data.temperature + ' ' + '&deg;C');
         var day = moment(data.takenDateTime);
         $('#maxTempDateTaken').html(day.format("DD/MM/YYYY HH:mm:ss"));
      });
      promise.fail(function (jqXHR, status, error) {
         if (jqXHR.status == 404) {
            $("#maxTemperature").html('no readings');
            $('#maxTempDateTaken').html('');
         }
      });
          
   }

   function showMinTemperature() {
      $("#minTemperature").html("Getting Temperature");
      var promise = GetMinTemperature(moment().format("YYYY-MM-DD"));
      promise.done(function (data) {
         $("#minTemperature").html(data.temperature + ' ' + '&deg;C');
         var day = moment(data.takenDateTime);
         $('#minTempDateTaken').html(day.format("DD/MM/YYYY HH:mm:ss"));
      });
      promise.fail(function (jqXHR, status, error) { 
         if (jqXHR.status == 404) {
            $("#minTemperature").html('no readings');
            $('#minTempDateTaken').html('');

         }
      });


   }


   function showAllTemperatures() {
      showTemperature();
      showMaxTemperature();
      showMinTemperature();
      
   }
          
   
   $(document).ready(showAllTemperatures );
</script>

<div class="container">
   <div class="row">
      <div class="col-sm">
         <h1>Last Temperature</h1>
         <h3 id="temperature">Temperature</h3>
         <h3 id="dateTaken">Date Taken</h3>
      </div>
      <div class="col-sm">
         <h1>Max Today</h1>
         <h3 id="maxTemperature">Temperature</h3>
         <h3 id="maxTempDateTaken">Date Taken</h3>
      </div>
      <div class="col-sm">
         <h1>Min Today</h1>
         <h3 id="minTemperature">Temperature</h3>
         <h3 id="minTempDateTaken">Date Taken</h3>
      </div>
   </div>
    
</div>
